@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap4.0.0/js/bootstrap.min.js" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/cssLogin/login.css" rel="stylesheet" />
    <link href="~/images/favicon.ico" rel="icon" type="image/x-icon" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="bg3">

        <div class="container-fluid">
            <div class="row-fluid">

                <div class="row justify-content-center">
                
                    <div style="color:white">
                        <h1>Forgot Password Confirmation</h1>
                        <p>Please check your email for reset link</p>
                    </div><div class="input-group mb-3"></div>

                    <button type="button" class="btn btn-primary btn-sm" style="background-color:#ff9900" onclick="location.href='/Account/Login';">&nbsp;&nbsp;Back&nbsp;&nbsp;</button>

                </div>

            </div>
        </div>

    </div>
</body>
</html>